<%= form_with(model: root_word, class: "contents") do |form| %>
  <%= render 'fields', builder: form, root_word:, chapters: %>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
