<div id="<%= dom_id root_word %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Display name:</strong>
    <%= root_word.display_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Page:</strong>
    <%= root_word.page %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Chapter:</strong>
    <%= render "shared/link_to", text: root_word.chapter_display_name, path: root_word.chapter, variant: :secondary_button %>
  </div>
</div>
