<% content_for :title, "Root words" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="md:flex md:justify-between md:items-center">
    <h1 class="font-bold text-4xl">Root words</h1>
    <%= render "shared/link_to", text: "New root word", path: new_root_word_path, variant: :primary_button %>
  </div>

  <div id="root_words" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @root_words.any? %>
      <% @root_words.each do |root_word| %>
        <div><%= render root_word, link: true, informative: true %></div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No root words found.</p>
    <% end %>
  </div>
</div>
