<% content_for :title, "New expression" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New expression</h1>

  <%= render "form",
    expression: @expression,
    root_word: @root_word,
    root_words: @root_words,
    chapters: @chapters %>

  <%= link_to "Back to expressions", expressions_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
