<% content_for :title, "New expression" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New expression</h1>

  <%= render "form",
    expression: @expression,
    root_word: @root_word,
    root_words: @root_words,
    chapters: @chapters %>

  <%= render "shared/link_to", text: "Back to expressions", path: expressions_path, variant: :secondary_button %>
</div>
